// Place all the styles related to the history controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#name{
    width: 235px;
    margin-right: 30px;
}
#yomigana{
    width: 235px;
}
#postcode{
    width: 160px;
}
#prefecture_code{
    width: 160px;
}
.flex{
    display: flex;
}
.margin-right-20{
    margin-right: 20px;
}
#address_city{
    width: 500px;
}
#address_street{
    width: 235px;
    margin-right: 30px;
}
#address_building{
    width: 235px;
}
#telno{
    width:120px;
}
#cemetery_name_other{
    width:200px;
}
#section{
    width:200px;
}
#remarks{
    width:500px;
}
.float-right{
    float: right;
}
.margin-0-auto{
    margin: auto 0;
}
.margin-top-7{
    margin-top: 7px;
}
.margin-right-10{
    margin-right: 10px;;
}
.padding-left-30{
    padding-left: 30%;
}
.regist-button{
    width: 500px;
    height: 50px;
}
.inline-flex{
    display: inline-flex;
}
.search-button{
    margin-right: 30px;
}
.flexbox{
    display:-webkit-box;
    display: -webkit-flex;
    display:-ms-flexbox;
    display: flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}
.cemetery-name-other-box{
    -webkit-box-ordinal-group:2;
    -ms-flex-order:2;
    -webkit-order:2;
    order:2;
    width: 100%;
}
.cemetery-name-radio-button-box{
    -webkit-box-ordinal-group:1;
    -ms-flex-order:1;
    -webkit-order:1;
    order:1;
    width: 100%;
}
.box1{
    -webkit-box-ordinal-group:2;
    -ms-flex-order:2;
    -webkit-order:2;
    order:2;
    width: 100%;
}
.box2{
    -webkit-box-ordinal-group:1;
    -ms-flex-order:1;
    -webkit-order:1;
    order:1;
    width: 100%;
}